<.header>
  New Clothing
  <:subtitle>Use this form to manage clothing records in your database.</:subtitle>
</.header>

<.clothing_form changeset={@changeset} action={~p"/roupas"} />

<.back navigate={~p"/roupas"}>Back to roupas</.back>
